{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}


<div class="container">

  <div class="student-form-card ui-card">

    <h1 class="page-title">
      Add New Student

      <div class="form-card">

        <form method="POST">

          <label class="form-label">Student Name</label>
          <input type="text" class="form-input" name="name" required>

          <label class="form-label">Room Number</label>
          <input type="text" class="form-input" name="room" required>

          <label class="form-label">Hostel</label>
          <select class="form-select" name="hostel" required>

            <option value="">Select Hostel</option>

            <option>Shivneri</option>
            <option>Raigad</option>
            <option>Rajgad</option>

          </select>

          <label class="form-label">Department</label>

          <select class="form-group" name="department" required>

            <option value="">Select Department</option>

            <option value="Engineering">
              Engineering
            </option>

            <option value="Diploma">
              Diploma
            </option>

            <option value="Pharmacy">
              Pharmacy
            </option>

            <option value="School">
              School
            </option>

          </select>

          <label class="form-label">Mobile Number</label>
          <input
    type="tel"
    name="mobile"
    class="form-input"
    maxlength="10"
    pattern="[0-9]{10}"
    inputmode="numeric"
    placeholder="Enter 10-digit mobile number"
    required
>

          <label class="form-label">Academic Level</label>
          <input type="text" class="form-input" name="academic_level" placeholder="dept-year">

          <br><br>

          <button type="submit" class="submit-btn primary-btn">
            Add Student
          </button>

        </form>

      </div>

  </div>
</div>

{% endblock %}