<!DOCTYPE html>
<html>

<head>
  <title>Add Student</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="topbar">

    <div class="logo">
      Mess Manager
    </div>

    <div class="nav-links">

      <a href="/">Dashboard</a>

      <a href="/add_student">Add Student</a>

      <a href="/student_list">Students</a>

      <a href="/pending_payments">Pending</a>

    </div>

  </div>



  <div class="container">


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li style="color: green;">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="student-form-card">

      <h2>Add New Student</h2>

      <form method="POST">

        <label>Student Name</label>
        <input type="text" name="name" required>

        <label>Room Number</label>
        <input type="text" name="room" required>

        <label>Hostel</label>
        <select name="hostel" required>

          <option value="">Select Hostel</option>

          <option>Shivneri</option>
          <option>Rajgad</option>
          <option>Raygad</option>

        </select>

        <label>Department</label>

        <select name="department" required>

          <option value="">Select Department</option>

          <option value="Engineering">
            Engineering
          </option>

          <option value="Diploma">
            Diploma
          </option>

          <option value="Pharmacy">
            Pharmacy
          </option>

          <option value="School">
            School
          </option>

        </select>

        <label>Mobile Number</label>
        <input type="text" name="mobile">

        <label>Year / Standard</label>
        <input type="text" name="year">

        <br><br>

        <button type="submit" class="submit-btn">
          Add Student
        </button>

      </form>

    </div>

    <br><br>


  </div>

</body>

</html>