<!DOCTYPE html>
<html>

<head>
<title>Edit Student</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
   <div class="topbar">

    <div class="logo">
        Mess Manager
    </div>

    <div class="nav-links">

        <a href="/">Dashboard</a>

        <a href="/student_list">Students</a>

        <a href="/pending_payments">Pending</a>

    </div>

</div>


<div class="container">

<h2>Edit Student</h2>

<form action="/update_student" method="POST">

<input type="hidden"
name="student_id"
value="{{ student[0] }}">

Name:
<input type="text"
name="name"
value="{{ student[1] }}"
required>

<br><br>

Mobile:
<input type="text"
name="mobile"
value="{{ student[8] }}"
required>

<br><br>

Department:

<select name="department" required>

<option value="Engineering"
{% if student[7] == 'Engineering' %}selected{% endif %}>
Engineering
</option>

<option value="Diploma"
{% if student[7] == 'Diploma' %}selected{% endif %}>
Diploma
</option>

<option value="Pharmacy"
{% if student[7] == 'Pharmacy' %}selected{% endif %}>
Pharmacy
</option>

<option value="School"
{% if student[7] == 'School' %}selected{% endif %}>
School
</option>

</select>

<br><br>

Academic Level:
<input type="text"
name="academic_level"
value="{{ student[9] }}"
required>

<br><br>

Room:
<input type="text"
name="room"
value="{{ student[2] }}"
required>

<br><br>

Hostel:

<select name="hostel">

<option value="Shivneri"
{% if student[3] == 'Shivneri' %}selected{% endif %}>
Shivneri
</option>

<option value="Raigad"
{% if student[3] == 'Raigad' %}selected{% endif %}>
Raygad
</option>

<option value="Rajgad"
{% if student[3] == 'Rajgad' %}selected{% endif %}>
Rajgad
</option>

</select>

<br><br>

<button type="submit">
Update Student
</button>

</form>

<br>

<a href="/student_list">
<button>Back</button>
</a>



</div>
</body>
</html>