{% extends "base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="container">

    <div class="payment-card ui-card">

        <div class="page-heading">

            <h1 class="page-title">
                Forgot Password
            </h1>

            <p class="form-subtitle">
                Enter your registered email to receive a verification code.
            </p>

        </div>

        <form action="/send_otp" method="POST">

            <div class="form-group">

                <label class="form-label">
                    Username / Email / Mobile Number
                </label>

                <input type="text" name="identifier" class="form-input" placeholder="Enter username, email or mobile"
                    required>

            </div>

            <p class="form-subtitle">

                We'll send a verification code to your registered email address.

            </p>

            <div class="form-actions">

                <button type="submit" class="primary-btn">

                    Send OTP

                </button>

                <a href="/login" class="secondary-btn">

                    Back to Login

                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}