<!DOCTYPE html>
<html>

<head>
    <title>Mess Manager System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="home-page">

    <div class="header">
        Mess Manager System
    </div>

    <div class="navbar">

    <a href="/">Dashboard</a>

    <a href="/add_student">Add Student</a>

    <a href="/student_list">Students</a>

    <a href="/pending_payments">Pending Payments</a>

</div>

    <div class="container">

        <div class="home-content">

            <div class="dashboard-cards">

                <div class="dashboard-card">
                    <h3>Total Students</h3>
                    <p>{{ total_students }}</p>
                </div>

                <div class="dashboard-card">
                    <h3>Total Collected</h3>
                    <p>₹{{ total_collected }}</p>
                </div>

                <div class="dashboard-card">
                    <h3>Total Pending</h3>
                    <p>₹{{ total_pending }}</p>
                </div>

                <div class="dashboard-card">
                    <h3>Pending Students</h3>
                    <p>{{ pending_students }}</p>
                </div>

            </div>

            <div class="recent-payments">

                <h2>Recent Payments</h2>

                {% if recent_payments %}

                {% for payment in recent_payments %}

                <div class="payment-item">

                    <b>{{ payment[0] }}</b>

                    paid

                    <b>₹{{ payment[1] }}</b>

                    on

                    {{ payment[2] }}

                </div>

                {% endfor %}

                {% else %}

                <p>No recent payments</p>

                {% endif %}

            </div>

         

        </div>

    </div>

</body>

</html>