
{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}




    <div class="dashboard-container">

        <div class="dashboard-layout">

            <!-- Stats Cards -->


            <h1 class="dashboard-title page-title">
                Dashboard Overview
            </h1>

            <div class="dashboard-cards">

                <div class="dashboard-card dashboard-card ui-card">
                    <h3>Total Students</h3>
                    <p>{{ total_students }}</p>
                </div>

                <div class="dashboard-card dashboard-card ui-card">
                    <h3>Pending Students</h3>
                    <p>{{ pending_students }}</p>
                </div>


                <div class="dashboard-card dashboard-card ui-card">
                    <h3>Total Collected</h3>
                    <p>₹{{ total_collected }}</p>
                </div>


                <div class="dashboard-card dashboard-card ui-card">
                    <h3>Total Pending</h3>
                    <p>₹{{ total_pending }}</p>
                </div>





            </div>
        </div>
   


    <!-- Middle Section -->

    <div class="dashboard-middle">


        <!-- Recent Payments -->

        <div class="recent-payments ui-card">

            <h2>Recent Activity</h2>

            {% if recent_payments %}

            {% for payment in recent_payments %}

            <div class="payment-item">

                <div class="payment-left">

                    <div class="student-payment-name">
                        {{ payment['name'] }}
                    </div>

                    <div class="payment-date">
                        {{ payment['payment_date'] }}
                    </div>

                </div>

                <div class="payment-amount">
                    ₹{{ payment['amount'] }}
                </div>

            </div>

            {% endfor %}

            {% else %}

            <p>No recent payments</p>

            {% endif %}

        </div>


        <!-- Quick Actions -->

        <div class="quick-actions ui-card">

            <h2>Operations</h2>

            <div class="action-list">

                <a href="/add_student" class="action-card">
                    Add Student
                </a>

                <a href="/student_list" class="action-card">
                    Students List
                </a>

                <a href="/pending_payments" class="action-card">
                    Pending Payments
                </a>

            </div>

        </div>

    </div>



</div>


{% endblock %}
