<!DOCTYPE html>
<html>

<head>
    <title>Student Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="header">
        Mess Manager System
    </div>

    <div class="navbar">

    <a href="/">Dashboard</a>

    <a href="/add_student">Add Student</a>

    <a href="/student_list">Students</a>

    <a href="/pending_payments">Pending Payments</a>

</div>

    <div class="container">
        
        <h2 class="student-name">
    {{ student[1] }}
</h2>

        <div class="profile-buttons">

            <a href="/edit_student/{{ student[0] }}">
                <button class="edit-btn">
                    Edit Student
                </button>
            </a>

            <a href="/receive_payment_page/{{ student[0] }}">
                <button class="payment-btn">
                    Receive Payment
                </button>
            </a>

            <a href="/delete_student/{{ student[0] }}"
                onclick="return confirm('Are you sure you want to delete this student?')">

                <button class="delete-btn">
                    Delete Student
                </button>

            </a>

            <a href="/student_list">
                <button class="back-btn">
                    Back
                </button>
            </a>

        </div>

        <div class="payment-card">

            

            <p><b>Department:</b> {{ student[7] }}</p>

            <p><b>Mobile:</b> {{ student[8] }}</p>

            <p><b>Academic Level:</b> {{ student[9] }}</p>

            <p><b>Hostel:</b> {{ student[3] }}</p>

            <p><b>Room:</b> {{ student[2] }}</p>

            <p><b>Joining Date:</b> {{ student[6] }}</p>

            <hr>

            <p><b>Received Amount:</b> ₹{{ student[4] }}</p>

            <p><b>Remaining Amount:</b> ₹{{ student[5] }}</p>

        </div>

        <br>

        <h3>Payment History</h3>

        {% if payments %}

        <table>

            <tr>
                <th>Amount</th>
                <th>Date</th>
            </tr>

            {% for payment in payments %}

            <tr>
                <td>₹{{ payment[0] }}</td>
                <td>{{ payment[1] }}</td>
            </tr>

            {% endfor %}

        </table>

        {% else %}

        <p style="color: gray; font-style: italic;">
            No payment history available
        </p>

        {% endif %}

        <br>

    
    </div>

</body>

</html>