<!DOCTYPE html>
<html>

<head>
    <title>Student List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="header">
        <h1>Mess Manager System</h1>
    </div>

    <div class="container">

        <h2>Student List</h2>

        <div class="toolbar">

            <div class="filter-buttons">
                <a href="/student_list"><button>All Students</button></a>
                <a href="/student_list?hostel=Shivneri"><button>Shivneri</button></a>
                <a href="/student_list?hostel=Raygad"><button>Raygad</button></a>
                <a href="/student_list?hostel=Rajgad"><button>Rajgad</button></a>
            </div>

            <div class="export-button">
                <a href="/download_students_pdf">
                    <button>Download PDF</button>
                </a>
            </div>

        </div>

        <br><br>


        <input type="text" id="searchInput" onkeyup="searchStudent()" placeholder="Search by student name..."
            class="search-box">

        <br><br>



        {% with messages = get_flashed_messages() %}

        {% if messages %}

        {% for message in messages %}

        <div class="success-message">
            {{ message }}
        </div>

        {% endfor %}

        {% endif %}

        {% endwith %}


        <table border="1" id="studentTable">

            <tr>
                <th>Name</th>
                <th>Hostel</th>
                <th>Room</th>
                <th>Remaining</th>
                <th>Status</th>
                <th>Profile</th>
            </tr>

            {% for student in students %}

            <tr>

                <td>{{ student[1] }}</td>

                <td>{{ student[3] }}</td>

                <td>{{ student[2] }}</td>

                <td>₹{{ student[5] }}</td>

                <td>

                    {% if student[5] == 0 %}

                    <span style="color: green; font-weight: bold;">
                        Paid
                    </span>

                    {% elif student[4] == 0 %}

                    <span style="color: red; font-weight: bold;">
                        Pending
                    </span>

                    {% else %}

                    <span style="color: orange; font-weight: bold;">
                        Partial
                    </span>

                    {% endif %}

                </td>

                <td>
                    <a href="/student_profile/{{ student[0] }}">
                        <button>View Profile</button>
                    </a>
                </td>

            </tr>



            {% endfor %}

        </table>

        <br><br>


        <br><br>

        <a href="/" class="home-floating-btn">
            Home
        </a>



    </div>
    <script>

        function searchStudent() {

            let input =
                document.getElementById("searchInput")
                    .value
                    .toLowerCase();

            let table =
                document.getElementById("studentTable");

            let rows =
                table.getElementsByTagName("tr");

            for (let i = 1; i < rows.length; i++) {

                let firstColumn =
                    rows[i].getElementsByTagName("td")[0];

                if (firstColumn) {

                    let text =
                        firstColumn.textContent.toLowerCase();

                    if (text.includes(input)) {

                        rows[i].style.display = "";

                    } else {

                        rows[i].style.display = "none";
                    }
                }
            }
        }

    </script>
</body>

</html>